/*nav bar*/
.bannerLeft, .menuRight {
	display: inline-block;
}


li {
    display: inline-block;
    margin: 0 20px;
    font-size: 17px;
    font-weight: 600;
}

/*shoes displayed*/
.shoeTemp p {
margin: 0
}

button.btn.btn-primary {
    background: #b30f0f;
}

.shoename.shoe.size {
    padding: 0 0 5px;
}